@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  /* color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif; */
}
/* Navbar------------------------------------------------------------------------------------------- */
.navbar{

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  max-height:137px;
  padding: 0px 39px 0px 61px;
  border-bottom-left-radius: 10%;
  border-bottom-right-radius: 10%;
  background: linear-gradient(270deg, rgba(224, 224, 223, 0.65) -3.61%, rgba(255, 143, 126, 0.429) 98.29%);

}
.logoContainer{

}
.personalInfoContainer{
  
}
.personalInfoContainer ul {
  list-style: none;
  display: flex;
  flex-direction: row;

}
.personalInfoContainer ul li{
  margin-right: 24px;
}
/* sidbar------------------------------------------------------------------------------------ */
.sidebar{
  width: 250px;
  background-color: #ffffff;
  border-left: 1px solid #EEEEEE;

}
.sidebarTitel{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sidebarTitel h2{
  font-size: 16px;
  font-weight: 700;
  color: #070707;
  padding: 0 50px 0 50px;
  text-align: center;
}
.sidebar div{
  border-bottom: 2px solid #E4E4E4;
  margin-right: 26px;
  padding: 16px 0 16px 0;
}
.sidebar ul{
  list-style: none;
}
.sidebar ul li{
  display: flex;
  height: 38px;
}
.sidebar ul li label{
  font-size: 15px;
  font-weight: 400;
  color: #341217;
  
}